@charset "UTF-8";


.info {font-size:1.3vw; border-bottom:1px solid}
.info span{padding-right: 3vw;}
.info li{font-size:0.5vw;}

.btn_section{
   padding-top:2vh;
   display:flex;
   flex-direction:row;
   justify-content:flex-end;
   width:100%;
}
.btn_section > button{margin:0 1vw 0 1vw; font-size:1.5vw;}
.wrap_board{
   overflow:hidden;
   width:70%;
   left:30%;
}

.btn_down-file{margin-left:1%;   z-index:999;}
.article_content{min-height: 50vh; border-bottom: 1px solid;}
.bg{
	position: relative;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	overflow: hidden;
}
.bg img{
	position: absolute;
	width: 100%;
	height: 100%;
}